@model Fruit.ViewModel.ShopModel
    @using Fruit.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLaayout.cshtml";
}

<h1 style="text-align:center;" class="page-title eff">Shop Grid</h1>
<div class="main">
    <div class="commerce noo-shop-main">
        <div class="container">
            <div class="row">
                <div class="noo-main col-md-9">                
                    <div class="products row product-grid">
                        @foreach (Product item in Model.Products)
                        {
                            <div class="masonry-item noo-product-column col-md-4 col-sm-6 product">
                                <div class="noo-product-inner">
                                    <div class="noo-product-thumbnail">
                                        <a href="shop-detail.html">
                                            <img style="width:100%;height:180px;" width="600" height="760" src="~/Uploads/@item.Image" alt="" />
                                        </a>
                                        <div class="noo-rating">
                                            <div class="star-rating">
                                                <span style="width:90%"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noo-product-title">
                                        <h3><a href="shop-detail.html">@item.Category.Name</a></h3>
                                        <span class="price"><span class="amount">&#36;@item.Price</span></span>
                                        <div class="noo-product-action">
                                            <div class="noo-action">
                                                <a href="/Shop/Detail/@item.Id" class="button product_type_simple add_to_cart_button">
                                                    <span>View More</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="noo-sidebar col-md-3">
                    <div class="noo-sidebar-wrap">
                        <div class="widget commerce widget_product_categories">
                            <h3 class="widget-title">Categories</h3>
                            <ul class="product-categories">
                                <li><a href="/Shop/Index">All</a></li>
                                @foreach (Category item in Model.Categories)
                                {
                                    <li><a href="/Shop/Index/@item.Id">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="noo-footer-shop-now">
        <div class="container">
            <div class="col-md-7">
                <h4>- Every day fresh -</h4>
                <h3>organic food</h3>
            </div>
            <img src="images/organici-love-me.png" class="noo-image-footer" alt="" />
        </div>
    </div>
</div>

